.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;
  height: 65px;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.nav_logo img {
  font-size: small;
  height: 50px;
  width: 135px;
  cursor: pointer;
  margin-left: 30px;
}

.nav_options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  padding-left: 30px;
  padding-right: 10px;
}

.nav_options a {
  transition: color 0.15s;
  cursor: pointer;
  color: #353a47;
  font-family: inherit;
  font-size: medium;
}

.nav_options a:hover {
  color: #39b75d;
}

.nav_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-right: 35px;
}

.nav_login {
  height: 36px;
  background-color: white;
  min-width: 88px;
  border: 1px solid grey;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
}

.nav_signup {
  height: 36px;
  background-color: #39b75d;
  min-width: 88px;
  border: 1px solid grey;
  border-radius: 3px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  transition: color 0.15s;
}

.nav_login:hover {
  color: #39b75d;
}

.nav_signup:hover {
  background-color: #2da04e;
}

@media screen and (max-width: 789px) {
  .nav_options {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .nav_login {
    height: 33px;
    min-width: 70px;
  }

  .nav_signup {
    height: 33px;
    min-width: 70px;
  }

  .nav_btn {
    gap: 5px;
  }
}
